#hero {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("../assets/Hero-bg.png");

}

.img {

    text-align: center;

}

.title {

    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 800;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: center;
}

.discription {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;

}

.btn {
    /* color: rgb(255, 255, 255); */
    /* font-family: Azeret Mono; */
    /* font-size: 20px; */
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 8px;

    color: rgb(13, 19, 33);

}

.heading .title {

    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 10px;
    font-weight: 200;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;

}

.heading .discription {


    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;

    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
}

.parent {
    padding: 25px;
    display: flex;
    gap: 30px;
    justify-content: space-evenly;
    padding: 20px 40px 20px 40px;
}

.title1 {

    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;

}

.discription1 {

    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.7;

}

.myBtn {
    background-color: black;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
}

.btn1 {

    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
}

.heading3 .title2 {

    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 22px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;

}

.heading3 .discription2 {

    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;

}


.iframe {

    text-align: center;
    border-radius: 16px;
    height: 400px;
    width: 100px;
    border: 10px 12px 10px 12px;
    border-radius: 16px;

}

.heading4 .title3 {

    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
}

.discription3 {

    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;

}

.title4 {

    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
}

.discription4 {

    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.7;

}

.small {

    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
}

.flex {

    padding: 25px;
    display: flex;
    gap: 30px;

    justify-content: space-evenly;
    padding: 10px 20px 10px 20px;
}


.color3 {


    border-radius: 16px;

    background: rgba(255, 223, 0, 0.05);
}

.color2 {

    border-radius: 16px;

    background: rgba(0, 76, 232, 0.05);

}

.color1 {

    border-radius: 16px;

    background: rgba(255, 76, 30, 0.05);
}